<section class="cm-cities-app flexcol tab sidebar-tab directory" data-application-part="main">
    <header class="cm-cities-app-header directory-header flexcol">

        
        <div class="cm-cities-app-header-action-buttons header-actions action-buttons flexrow">
            {{#if @root.isEditable}}
                <button type="button" class="create-entry" data-action="createEntry" style="">
                    <i class="fa-solid fa-user" inert=""></i>
                    <span>{{localize "CM.sidebar.button.createCity"}}</span>
                </button>
                <button type="button" class="create-folder" data-action="createFolder">
                    <i class="fa-solid fa-folder" inert=""></i>
                    <span>{{localize "CM.sidebar.button.createCityFolder"}}</span>
                </button>
            {{/if}}
        </div>

        <search class="cm-sidebar-search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" value="{{searchQuery}}" autocomplete="off" placeholder="Search Cities"
                aria-label="Search Cities">
            <button type="button" class="inline-control toggle-sort" data-action="toggleSort" data-tooltip=""
                aria-label="Sort Alphabetically">
                {{#if (eq sortAlpha "asc")}}
                <i class="fa-solid fa-arrow-down-a-z"></i>
                {{else}}
                <i class="fa-solid fa-arrow-up-z-a"></i>
                {{/if}}
            </button>
            <button type="button" class="inline-control collapse-all icon fa-duotone fa-folder-tree"
                data-action="collapseFolders" data-tooltip="" aria-label="Collapse All Folders"></button>
        </search>
    </header>
    <ol class="directory-list plain" data-application-part="directory">
        {{! Dossiers racine }}
        {{#each tree.children as |node|}}
            {{> cityFolderNode node=node}}
        {{/each}}

        {{! Entrées sans dossier }}
        {{#each tree.entries as |city|}}
            {{> cityEntry city=city}}
        {{/each}}
    </ol>
</section>