<section data-group='primary' data-tab="description">
    <div class="form-group editor">
    <label>{{localize "CM.building.description"}}</label>

    {{editor enrichedDescription target="building.description" button=true owner=owner editable=editable}}

  </div>
</section>