<form>
    <div class="form-group">
        <div class="form-fields">
            <div>
                <label>{{localize "CM.dialog.newStat.name.label"}}</label>
                <input class="field-value center" type="text" name="label" placeholder="New label..." value="Label"/>
            </div>
            <div>
                <label>{{localize "CM.dialog.newStat.roll.formula.label"}}</label>
                <input class="field-value center" type="text" placeholder="Roll formula..." name="rollFormula" />
            </div>
        </div>
    </div>
</form>