hr {
    margin: 0.1rem 0
}

.flexauto {
    flex: auto
}

.gap4 {
    gap: 4px
}

.underline {
    text-decoration: underline;
}

.cm-cities-app {}

.cm-cities-app-header-avatar {
    max-width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-border-light);
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
        border-color: var(--color-border-highlight);
    }
}

.cm-cities-app-header-title {
    margin-bottom: 4px
}

.cm-cities-app-header-title input {
    height: 60px;
}

.cm-cities-app-header-title .map-img {
    border: 1px solid var(--color-tabs-border);
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cm-cities-app-tab-line {
    padding-top: 1px;
    padding-bottom: 1px;
}

.cm-cities-app-header-action-buttons {
    gap: 4px;
}

.cm-cities-app-tab-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cm-cities-app-treasury-currencies {
    gap: 4px;
}

.drop-zone-header {
    margin-top: 8px;
}

.drop-zone {
    min-height: 50px;
    padding: 8px;
}

/* Feedback visuel quand on survole avec un élément */
.drop-zone.drag-over {
    border: 2px dashed #aaa;
    border-radius: 4px;
    transition: border-color 0.2s;
    background: rgba(0, 123, 255, 0.05);
}